<center><h1>Here is your order.</h1></center>




<%if pizzatotal == nil%>
<%else%>
<br>
<br>
<%pizzatotal.each do |y|%><br>
<strong>Pizza</strong><br>
	<%y.each do |n|%>
		<%=n%><br>
		<%end%>
	<%end%>
<%end%>
	
<br>
The total comes to: <%=total.sum%>