<html>
	<head>
		<link rel= "stylesheet" href = "css/style.css">
	<header class= "color size center"> The Slice is Right!
	</header>
	</head>
	
	

	<body>
		<%=yield%>
	</body> 


	<footer>
		<a href = 'http://www.minedminds.org' target = "_blank">MinedMinds Website</a>
	</footer>
</html>