<center>hopefully, here is pizza!</center>
<br>
<br>

<form method="post" action="pizza">
<input type="submit" value="        Submit        "><br>
<br>
SIZE<br>
	<input type="radio" name="size" value="small" checked>Small<br>
	<input type="radio" name="size" value="medium">Medium<br>
	<input type="radio" name="size" value="large">large<br>
	<input type="radio" name="size" value="X-large">X-large<br>
	<br>
CRUST<br>
	<input type="radio" name="crust" value="Thin" checked>Thin<br>
	<input type="radio" name="crust" value="Thick">Thick<br>
	<input type="radio" name="crust" value="Stuffed">Stuffed<br>
	<br>
SAUCE<br>
	<input type="checkbox" name="sauce[]" value="Marinara">Marinara<br>
	<input type="checkbox" name="sauce[]" value="Bbq">Bbq<br>
	<input type="checkbox" name="sauce[]" value="Ranch">Ranch<br>
	<input type="checkbox" name="sauce[]" value="Buffalo">Buffalo<br>
	<input type="checkbox" name="sauce[]" value="Sriracha">Sriracha<br>
	<input type="checkbox" name="sauce[]" value="Philly">Philly<br>
	<input type="checkbox" name="sauce[]" value="Garlic-Parmesian">Garlic-Parmesian<br>
	<input type="checkbox" name="sauce[]" value="Alfredo">Alfredo<br>
	<br>
MEATS<br>
	<input type="checkbox" name="meats[]" value="Pepperoni">Pepperoni<br>
	<input type="checkbox" name="meats[]" value="Sausage">Sausage<br>
	<input type="checkbox" name="meats[]" value="Bacon">Bacon<br>
	<input type="checkbox" name="meats[]" value="Chicken">Chicken<br>
	<input type="checkbox" name="meats[]" value="Ham">Ham<br>
	<br>
VEGGIES<br>
	<input type="checkbox" name="veggies[]" value="Green Peppers">Green Peppers<br>
	<input type="checkbox" name="veggies[]" value="Banana Peppers">Banana Peppers<br>
	<input type="checkbox" name="veggies[]" value="Jalepeno Peppers">Jalepeno Peppers<br>
	<input type="checkbox" name="veggies[]" value="Red Onions">Red Onions<br>
	<input type="checkbox" name="veggies[]" value="Pineapple">Pineapple<br>
	<input type="checkbox" name="veggies[]" value="Mushrooms">Mushrooms<br>
	<br>
CHEESE<br>
	<input type="checkbox" name="cheese[]" value="Four cheese">Four cheese<br>
	<input type="checkbox" name="cheese[]" value="extra cheese">Extra cheese<br>
	<input type="checkbox" name="cheese[]" value="No cheese">No cheese<br>
	<br>
	<input type="submit" value="     Submit     ">
</form>