<br>
<h1>Please build your custom pizza!<br>
or<br>
<form method="post" action="pizza">
Click this button to continue with the usual<br>(large thin crust roni and cheese)<br>
<input type="submit" value="     The Usual     "></h1>
<br>
<br>
<strong>Size</strong><br>
	<input type="radio" name="size" value="small">Small<br>
	<input type="radio" name="size" value="medium">Medium<br>
	<input type="radio" name="size" value="large" checked>large<br>
	<input type="radio" name="size" value="x-large">X-large<br>
	<br>
<strong>Crust</strong><br>
	<input type="radio" name="crust" value="thin" checked>Thin<br>
	<input type="radio" name="crust" value="thick">Thick<br>
	<input type="radio" name="crust" value="stuffed">Stuffed<br>
	<br>
<strong>Cheese</strong><br>
	<input type="radio" name="cheese" value="cheese" checked>Yes
	<input type="radio" name="cheese" value="">No<br>
	<br>
<strong>Sauce(s)</strong><br>
	<img src = "/images/marinara.jpeg"  width="60" height="60">
	<input type="checkbox" name="sauce[]" value="marinara" checked>Marinara<br>
	<img src = "/images/bbq.jpeg"  width="60" height="60">
	<input type="checkbox" name="sauce[]" value="bbq">Bbq<br>
	<img src = "/images/ranch.jpeg"  width="60" height="60">
	<input type="checkbox" name="sauce[]" value="ranch">Ranch<br>
	<img src = "/images/buffalo.jpeg"  width="60" height="60">
	<input type="checkbox" name="sauce[]" value="buffalo">Buffalo<br>
	<img src = "/images/sriracha.jpeg"  width="60" height="60">
	<input type="checkbox" name="sauce[]" value="sriracha">Sriracha<br>
	<img src = "/images/philly.jpeg"  width="60" height="60">
	<input type="checkbox" name="sauce[]" value="philly">Philly<br>
	<img src = "/images/garlic-parmesian.jpeg"  width="60" height="60">
	<input type="checkbox" name="sauce[]" value="garlic-parmesian">Garlic-Parmesian<br>
	<img src = "/images/alfredo.jpeg"  width="60" height="60">
	<input type="checkbox" name="sauce[]" value="alfredo">Alfredo<br>
	<br>
<strong>Meats</strong><br>
	<img src = "/images/pepperoni.jpeg"  width="60" height="60">
	<input type="checkbox" name="meats[]" value="pepperoni" checked>Pepperoni<br>
	<img src = "/images/sausage.jpeg"  width="60" height="60">
	<input type="checkbox" name="meats[]" value="sausage">Sausage<br>
	<img src = "/images/bacon.jpeg"  width="60" height="60">
	<input type="checkbox" name="meats[]" value="bacon">Bacon<br>
	<img src = "/images/chicken.jpeg"  width="60" height="60">
	<input type="checkbox" name="meats[]" value="chicken">Chicken<br>
	<img src = "/images/ham.jpeg"  width="60" height="60">
	<input type="checkbox" name="meats[]" value="ham">Ham<br>
	<br>
<strong>Veggies</strong><br>
<img src = "/images/green peppers.jpeg"  width="60" height=60>
	<input type="checkbox" name="veggies[]" value="green peppers">Green Peppers<br>
	<img src = "/images/banana peppers.jpeg"  width="60" height="60">
	<input type="checkbox" name="veggies[]" value="banana peppers">Banana Peppers<br>
	<img src = "/images/jalepeno peppers.jpeg"  width="60" height="60">
	<input type="checkbox" name="veggies[]" value="jalepeno peppers">Jalepeno Peppers<br>
	<img src = "/images/red onions.jpeg"  width="60" height="60">
	<input type="checkbox" name="veggies[]" value="red onions">Red Onions<br>
	<img src = "/images/pineapple.jpeg"  width="60" height="60">
	<input type="checkbox" name="veggies[]" value="pineapple">Pineapple<br>
	<img src = "/images/mushrooms.jpeg"  width="60" height="60">
	<input type="checkbox" name="veggies[]" value="mushrooms">Mushrooms<br>
	<img src = "/images/black olives.jpeg"  width="60" height="60">
	<input type="checkbox" name="veggies[]" value="black olives">Black Olives<br>
	<br>
	<input type="submit" value="     Submit     ">
</form>