<center>hopefully, here is pizza!</center>
<br>
<br>

<!-- <IMG
 ALT="apple" SRC="apple.gif"> -->

<form method="post" action="pizza">
<input type="submit" value="        Submit        "><br>
<br>
<strong>Size</strong><br>
	<input type="radio" name="size" value="small">Small<br>
	<input type="radio" name="size" value="medium">Medium<br>
	<input type="radio" name="size" value="large" checked>large<br>
	<input type="radio" name="size" value="X-large">X-large<br>
	<br>
<strong>Crust</strong><br>
	<input type="radio" name="crust" value="Thin" checked>Thin<br>
	<input type="radio" name="crust" value="Thick">Thick<br>
	<input type="radio" name="crust" value="Stuffed">Stuffed<br>
	<br>
<strong>Cheese</strong><br>
	<input type="radio" name="cheese" value="Cheese" checked>Yes
	<input type="radio" name="cheese" value="">No<br>
	<br>
<strong>Sauce(s)</strong><br>
	<input type="checkbox" name="sauce[]" value="Marinara" checked>Marinara<br>
	<input type="checkbox" name="sauce[]" value="Bbq">Bbq<br>
	<input type="checkbox" name="sauce[]" value="Ranch">Ranch<br>
	<input type="checkbox" name="sauce[]" value="Buffalo">Buffalo<br>
	<input type="checkbox" name="sauce[]" value="Sriracha">Sriracha<br>
	<input type="checkbox" name="sauce[]" value="Philly">Philly<br>
	<input type="checkbox" name="sauce[]" value="Garlic-Parmesian">Garlic-Parmesian<br>
	<input type="checkbox" name="sauce[]" value="Alfredo">Alfredo<br>
	<br>
<strong>Meats</strong><br>
	<input type="checkbox" name="meats[]" value="Pepperoni" checked>Pepperoni<br>
	<input type="checkbox" name="meats[]" value="Sausage">Sausage<br>
	<input type="checkbox" name="meats[]" value="Bacon">Bacon<br>
	<input type="checkbox" name="meats[]" value="Chicken">Chicken<br>
	<input type="checkbox" name="meats[]" value="Ham">Ham<br>
	<br>
<strong>Veggies</strong><br>
	<input type="checkbox" name="veggies[]" value="Green Peppers" checked>Green Peppers<br>
	<input type="checkbox" name="veggies[]" value="Banana Peppers">Banana Peppers<br>
	<input type="checkbox" name="veggies[]" value="Jalepeno Peppers">Jalepeno Peppers<br>
	<input type="checkbox" name="veggies[]" value="Red Onions">Red Onions<br>
	<input type="checkbox" name="veggies[]" value="Pineapple">Pineapple<br>
	<input type="checkbox" name="veggies[]" value="Mushrooms">Mushrooms<br>
	<input type="checkbox" name="veggies[]" value="Black Olives">Black Olives<br>
	<br>
	<input type="submit" value="     Submit     ">
</form>